<form>
    <div class="form-group">
        <label for="name">Taco name</label>
        <input type="text" name="name" id="name">
    </div>

    <div class="form_group">
        <label for="ing-1">Ingredient One</label>
        <select name="ing-1" id="ing-1"></select>
    </div>

    <div class="form_group">
        <label for="ing-2">Ingredient One</label>
        <select name="ing-2" id="ing-2"></select>
    </div>

    <div class="form_group">
        <label for="ing-3">Ingredient One</label>
        <select name="ing-3" id="ing-3"></select>
    </div>
</form>