<h1></h1>
{{>navbar/navbar-block}}


<!-- BATTLE GROUND HEADER -->
<br>
<div class="jumbotron jumbotron-fluid" style="background-color: gray">
    <div class="container">
        <h1 class="displayHeader text-center">WELCOME to the TACO BATTLEGROUND</h1>
        <p>
            {{!-- <a class="btn btn-primary btn-lg">Learn more</a> --}}
        </p>
    </div>
</div>
<br><br><br>


<!-- Main Area with the battleling tacos and stats -->
<div id="battle_ground">
    <div class="container">
        <div class="row">



            <div class="col-sm-4">
                <h3 id="contender-1">Contender 1</h3>
                <ul id="contender-list-1" class="list-group">

                    <select class="fighters" id="player-1" player="1">
                        <option selected="selected" disabled hidden>Select User</option>

                        {{#each users}}
                        {{>user/select-user}}
                        {{/each}}
                    </select>
                    <select id="tacos-1" class="roster">
                        <option selected="selected" disabled hidden>Select Taco</option>
                    </select>
                    <div id="tacos-1-char"></div>
            </div>



            <div class="col-sm-3">
                <h3 id="versus">VS</h3>
                <div id="battle" class="btn btn-block btn-success attackTaco">Attack</div>
            </div>

            <div class="col-sm-4">
                <h3 id="contender-2">Contender 2</h3>
                <ul id="contender-list-2" class="list-group">

                    <select class="fighters" id="player-2" player="2">
                        <option selected="selected" disabled hidden>Select User</option>
                        {{#each users}}
                        {{>user/select-user}}
                        {{/each}}
                    </select>

                    <select id="tacos-2" class="roster">
                        <option selected="selected" disabled hidden>Select Taco</option>
                    </select>

                    <div id="tacos-2-char"></div>
            </div>
        </div>
    </div>
</div>