<br><br><br><br><br><br>
<div class="row">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/public/images/22101_crunchy_taco_supreme_269x269.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">tacoZ</h5>
            <p class="card-text">This is tacoZ it has very weak defence but strong defense.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Health = 100</li>
            <li class="list-group-item">Attack = 90</li>
            <li class="list-group-item">Defense = 35</li>
        </ul>
        <div class="card-body">
            <a href="/profile" class="card-link">Profile</a>
        </div>
    </div>
    <br><br><br><br><br><br><br><br>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/public/images/22101_crunchy_taco_supreme_269x269.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">tacoX</h5>
                <p class="card-text">This is tacoX it has very wesk attack but strong defense.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Health = 100</li>
                <li class="list-group-item">Attack = 24</li>
                <li class="list-group-item">Defense = 75</li>
            </ul>
            <div class="card-body">
                <a href="/profile" class="card-link">Profile</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>