<h1></h1>
{{>navbar/navbar-block}}


<!-- BATTLE GROUND HEADER -->
<br>
<div class="jumbotron jumbotron-fluid" style="background-color: gray">
    <div class="container">
        <h1>WELCOME to the TACO BATTLEGROUND</h1>
        <p>Contents ...</p>
        <p>
            <a class="btn btn-primary btn-lg">Learn more</a>
        </p>
    </div>
</div>
<br><br><br>


<!-- Main Area with the battleling tacos and stats -->
<div id="battle_ground">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h3 id="contender-1">Contender 1 Name</h3>
                <ul id="contender-list-1" class="list-group">

                    <select class="userSelect">
                        <option disabled>--select user--</option>
                        {{#each users}}
                        {{>user/select-user}}
                        {{/each}}
                    </select>
                    <select>
                        <option disabled>--select taco--</option>
                        {{#each theseTacos}}
                        {{>taco/select-taco}}
                        {{/each}}
                    </select>

                    <div class="myTaco"
                    {{#with myTaco}}
                    {{>taco/taco-block}}
                    {{/with}}
                    </div>


                </ul>
            </div>
            <div class="col-sm-2">
                <h3 id="versus">VS</h3>
                <button class="attackTaco">Attack</button>

            </div>
            <div class="col-sm-5">
                <h3 id="contender-2">Contender 2 Name</h3>
                <ul id="contender-list-2" class="list-group">

                    <select class="userSelect">
                        <option disabled>--select user--</option>
                        {{#each users}}
                        {{>user/select-user}}
                        {{/each}}
                    </select>

                    <select id="taco">
                        <option disabled>--select user--</option>
                        {{#each theseTacos}}
                        {{>taco/select-taco}}
                        {{/each}}
                    </select>
                    <div class="enemyTaco"


                    {{#with enemy}}
                    {{>taco/taco-block}}
                    {{/with}}
                    </div>

                </ul>
            </div>
        </div>
    </div>
</div>



<script src="/js/battleSelect.js"></script>