<h1></h1>
{{>navbar/navbar-block}}
<br>
<button type="button" class="btn btn-primary btn-lg " id="newUserBtn" data-toggle="modal" data-target="#exampleModalCenter">
  New Users
</button>
<br>
<h3 id="tacotxt">TACO BATTLES</h3>
<ul id="example-list" class="list-group">
  {{#each examples}}
  <li data-id="{{this.id}}" class="list-group-item">
    <a href="example/{{this.id}}">{{this.text}}</a>
    <button class="btn btn-danger float-right delete">ｘ</button>
  </li>
  {{/each}}
</ul>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create a taco</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This will link you to create a taco! Get ready to battle!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="/taco" class="btn btn-primary btn-lg " role="button">Create Taco</a>
          
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script> 

