<h1></h1>
{{>navbar/navbar-block}}

<h1>Profile Page!</h1>

<div class="row">
    <div class="col-4">
        <img src="https://via.placeholder.com/150">
        <h1>User</h1>
    </div>
    <div class="col-8">
        Taco Fighters
    </div>
</div>